@import "tailwindcss";

@font-face {
  font-family:"SHK_Dzeragir" ;
  src: url('/font/SHK_Dzeragir.woff2');
}
.FontSHK_Dzeragir{
  font-family: "SHK_Dzeragir";
  
}

@font-face {
  font-family:"BabylonicaRegular" ;
  src: url('/font/Babylonica-Regular.ttf');
}
.FontBabylonicaRegular{
  font-family: "BabylonicaRegular";
  
}

@font-face {
  font-family: "HFMassisShantNUnicode";
  src: url("/font/HFMassisShantNUnicode.ttf");
}
.FontMassis{
  font-family: "HFMassisShantNUnicode";
}



@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
.animate-marquee-2 {
  animation: marquee2 20s linear infinite;
}
.text-guyn2{
  color: #ffffff;
}
.text-sovorakan{
  color: #580000;
}
.text-vrayi {
  color: #580000;
}
.text-taki {
  color: #580000 ;
}
.bg-guyn {
  background: #580000;
}
.border-guyn {
  border-color: #580000;
}





/* ....................CRAR................ */


@media (min-width: 768px) {
  @keyframes bounceY {
    0% {
      transform: translateY(0);
      width: 560px;
      height: 360px;
      z-index: 6;
    }
    50% {
      transform: translateY(-500px);
      z-index: 6;
    }
    100% {
      width: 560px;
      height: 360px;
      z-index: 50;
    }
  }

  .animate-bounceY {
    animation: bounceY 2s ease;
  }
}

@media (max-width: 768px) {
  @keyframes bounceY {
    0% {
      transform: translateY(0);
      width: 280px;
      height: 180px;
      z-index: 6;
    }
    50% {
      transform: translateY(-200px);
      z-index: 6;
    }
    100% {
      width: 280px;
      height: 180px;
      z-index: 50;
    }
  }

  .animate-bounceY {
    animation: bounceY 2s ease;
  }
}